
<div class="detail">
<p class="back"><a href=""><button class="back-button">Back</button></a></p>

    <% results.forEach(function(value, key){ %>


            <% if(value.Images instanceof Array && value.Images.length){ %>
                <img src="<%= value.Images[0].url_170x135 %>">
            <% } %>

            <hr>

            <h5><%= value.title %></h5>
            <h6><%= value.description %></h6>
            <p class="price"><%= value.price %> <%= value.currency_code %></p>

            <a href="<%=value.url%>">
            <button class="purchase-button"> Purchase on Etsy </button>
            </a>


    <% }) %>


</div>




<!-- <div class= "left">
<span>
     <i class="fa fa-chevron-left fa-3x"></i>
</span>
</div>

<div class="right">
<span>
    <i class="fa fa-chevron-right fa-3x"></i>
</span>
</div> -->



